@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
}

.qr-container {
    background-color: hsl(0, 0%, 100%);
    width: 14.15rem;
    max-width: 14.15rem;
    border-radius: .94rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 375px) {
   .qr-container{
        width: 60%
   } 
}

.qrcode {
    margin: .56rem;
    margin-top: .62rem;
    height: 12.81rem;
    width: 13.12rem;
    border-radius: .62rem;
}

p {
    background-color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
}

.top-text {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    text-align: center;
    margin: .438rem .813rem .438rem .813rem;
    font-size: 1rem;
    font-family: 'Outfit', sans-serif;
}

.bottom-text {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    text-align: center;
    margin: .44rem .94rem 1.88rem .94rem;
    font-size: .70rem;
}

